<nav id="navigation">
  <%=  link_to "All Students", students_path %>
  <%=  link_to "Create a New Student", new_student_path %>
</nav>

<% @students.each do |student| %>
  <%= link_to student.name, student_path(student) %>
<% end %>
